.container-error{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87.9vh;
    flex-direction: column;
    gap: 30px;
}
.container-error h1{
    font-size: 70px;
}
.container-error p{
    font-size: 50px;
}
.volver{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(31,44,141);
    border-radius: 5px;
    width: 230px;
    transition: all 250ms ease-in-out;
}
.volver:hover{
    background-color: blue;
}